<div class="main-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Pelicula</th>
        <th scope="col">Genero</th>
        <th scope="col">Fecha de Estreno</th>
        <th scope="col">Cantidad de espectadores</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let movie of movies; index as i"
        (click)="test(movie)"
        class="movie-row"
        [ngClass]="{ 'data-selected': selectedRow === movie.id }"
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img [src]="movie.foto" class="mr-2" style="width: 100px" />
        </td>

        <td>{{ movie.nombre }}</td>
        <td>{{ movie.tipo }}</td>
        <td>{{ movie.fecha_estreno }}</td>
        <td>{{ movie.cantidad_publico }}</td>
        <!-- <td>{{ country.area | number }}</td>
        <td>{{ country.population | number }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
